<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
	<header th:insert="~{fragments :: header}"></header>

	<div class="container">
		<div class="title d-flex justify-content-center my-3">
			<h1>Le Promozioni:</h1>
		</div>


		<!-- If list is empty -->
		<th:block th:if="${list.isEmpty()}">
			<div class="title d-flex justify-content-center mt-5">
				<h1>Non è presente nessuna promozione</h1>
			</div>
		</th:block>

		<!-- If list contains elements -->
		<th:block th:if="${!list.isEmpty()}">
			<div class="card-container d-flex row row-cols-4 justify-content-center">
				<ul>
					<li
					th:each="promo : ${list}" th:object="${promo}" th:text="*{title}"
					></li>
				</ul>
			</div>
		</th:block>
	</div>
</body>

</html>
